* {
    margin: 0px;
    padding: 0px;
    font-family: 'Orbitron', cursive;
    background-color: white;
}

#calculator {
    width: 30vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: minmax(30px,25%) minmax(30px,25%) minmax(30px,25%) minmax(30px,25%);
    grid-template-rows: minmax(50px,20%) minmax(50px,20%) minmax(50px,20%) minmax(50px,20%) minmax(50px,20%);
    border: 3px solid black;
    border-radius: 5px;
}

#display {
    grid-column: 2 / 5;
    background-color: #FFFFFF;
    text-align: right;
    font-size: 1.5em;
    color: #F5542B;
    padding-right: 5%;
    padding-top: 5%;

}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid white;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #36A6DE;
    color: black;
}

.buttons:hover {
    border:2px solid #1A5573;
    opacity: 0.9;
}

@media only screen and (max-width: 600px) {

#calculator {
    width: 70vw;
    height: 50vh;
}    
}

@media only screen and (max-height: 400px) {
    #display {
    padding-top: 10px;
}
}